
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root{
  --FONT-FAMILY: "Raleway", sans-serif;
  --FONT-SIZE: 1.5rem;
  --SP-FONT-WEIGHT:400;
  --SP-FONT-SIZE: 2rem;
  --BG--COLOR: #2C2D35;
  --THEME-1: #FF6B6B;
  --TEXT-COLOR: whitesmoke;
}
.container{
  display: flex;

}
.image-bg{
  position: absolute;
    filter: opacity(0.5)
    brightness(50%) ;
    z-index: -1;
}

.header{
   margin: 1.5rem;
}
.header--info{
  margin-left: 2.5rem;
  color: firebrick;
  font: var(--SP-FONT-WEIGHT) 1.5rem var(--FONT-FAMILY);
  z-index: 2;
  cursor: pointer;
}
.header--title{
  font: var(--SP-FONT-WEIGHT) 2rem var(--FONT-FAMILY);
  white-space: nowrap;
  cursor: pointer;
  
}

.nav{
  margin: 0.6rem 2.5rem;
  padding:15px;
  position: relative;
}
.nav ul{
  list-style: none;
   display: flex;
   margin-left: 25rem;
   margin-top: 5px;
}
.nav ul li a{
   text-decoration: none;
   margin-left: 2rem;
   white-space: nowrap; 
   font: 400 1rem var(--FONT-FAMILY);
   color: rgb(26, 25, 25);
}
.slogan{
  margin-left: 35rem;
    color: rgb(36, 34, 34);
    border-top: 2px solid mintcream;
    width: 20%;
    border-bottom: 2px solid mintcream;
}
.slogan h3{
    font: 400 2rem var(--FONT-FAMILY);
     transform: translateX(-150px);
    padding-top: 1rem;
    white-space: nowrap;
}
button{
  margin-left: 40rem;
  margin-top: 2rem;
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
  font: var(--SP-FONT-WEIGHT) 1rem var(--FONT-FAMILY);
  transition: all .3s ease-in-out;
}
button a{
  text-decoration: none;
  color: black;
  padding: 1.2rem;
}
button:hover{
    background-color: black;
    color: white;
    transition: 1s ease-in-out;
}
